
/* Titulo Aplicacion */
.title{
    font-family: var(--tipo);
    color:var(--negro);
}

/* Encabezado Aplicacion */
.encabezado{
    font-family: var(--tipo);
    color:var(--negro);
}

/* Texto Lorem */
.lorem{
    font-family: var(--tipo);
    color:rgb(114, 111, 111);
}

/* Carrito */
.cart{
    font-family: var(--tipo);
    color:var(--negro);
}



/* Categorías menú */
.categoryName{
    font-family: var(--tipo);
    color:var(--negro);
}
/* precio */
.price{
    font-family: var(--tipo);
    color: #fe6b01;
}

/* nombre plato */
.plateName{
    font-family: var(--tipo);
    color:var(--negro);
}

    /* nombre guarnición  */
.sideDishName{
    font-family: var(--tipo);
    color:rgb(114, 111, 111);
}
/*  En detalle: Nombre plato  */
.plateNameDetail{
    font-family: var(--tipo);
    color:var(--negro);
}

    /*  en detalle: guarnición  */
.sideDishNameDetail{
    font-family: var(--tipo);
    color:var(--negro);
}

/* en detalle: descripción  */
.dishDescriptionDetail{
    font-family: var(--tipo);
    color:var(--negro);
}

   /* en detalle: precio */
.priceDetail{
    font-family: var(--tipo);
    color: #fe6b01;
}
.cajaNaranja{
    font-family: var(--tipo);
   width: 100px;
}
.bill{
    font-family: var(--tipo);
    color:var(--grisclaro)
    ;
}

/* IMAGENES */


.platePicture{
    size: ;
    padding: ;
    margin: ;
}

.platePictureDetail{
    size: ;
    padding: ;
    margin: ;
}


.slider{
    display: flex;
    flex-direction: row;
}

.sliderElement{
    /* background-color:;
    border-color: ;
    border-radius: 2em;
    display: inline; */

 }

.categoryName {
    font-family: 'Nunito', sans-serif;
    color:black;
    text-decoration:none;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
    text-align: center;
    border:none;
    margin:3em;
}




/* 
.home, .mensaje, .corazon, .usuario, .back, .closeDetail{
     width: 50px;
    display: block;
} */
/* BOTONES */
.counter{
    background-color: #fff;
    align-self: center;
    color: rgb(114, 111, 111);

}
.submit{
    font-family: 'Nunito', sans-serif;
    border-radius: 8px;
    align-self: center;
    background-color: #fff;
    padding: 0.5em 4em;
    border: ;

}
.order{
    /* lleva la foto de la bolsa */
    background-color:  #fe6b01;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 0.5em;
    color: #fff;
}

.order img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
    fill: #fff;

}

/* INPUTS */
.amount{
    width: 2em;
    height: 2em;
    
}

