.counter{
 display:flex;
 flex-wrap: wrap;
}
.modifyNumber{
    background-color: #ffffff;
    width: 2.5vh;
    height: 2.5vh;
    color: var(--gris);
    font-size: 2.5vh;
  
}
.orderCuantity{
    width: 2.5vh;
    height: 2.5vh;
    background-color: var(--grisclaro);
    padding-top: 0.3vh;

}
.orderCuantity::placeholder{
    text-align: center;
    font-size: 2vh;
    color: var(--negro);
}
