
.iconList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    height: 10vh;
    width: 100vw;
}
.iconElement{
    position: relative;
    top:40%
}

.shopping{
    background-color: var(--naranja);
    display: block;
    border-radius: 50%;
    border: none;
    padding: 0.5em;
    position: relative;
    top:-40%;
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16););;


}
img{
    width: 3vh;
}
