.plateList{
    height: 60vh;
    overflow-y: scroll;
}

.platesMenu{
    list-style: none;
    display: grid;
    grid-template-areas: "a b"
                         "a c"   
                         "a d"
                         "a e";
    padding: 0.5em;
    grid-auto-columns: 22vh;
}
.platesMenu > figure {
    grid-area: a;
}
.platesMenu > p {
    grid-area: b;
}
.platesMenu > h4 {
    grid-area: c;
}
.platesMenu > h6{
    grid-area: d;
}
.platesMenu > div {
    grid-area: e;
}

.plate{
    border-radius: 20%;
    width: 16vh;
    height: 16vh;
    overflow: hidden;
    margin: 0%;
}