
.slider{
    display: flex;
    flex-direction: row;
    height: 30%;
    overflow-x: scroll;
}

.categoryButton{
    background-color: #fff;
    margin: 0.5em;
    padding: 0.7em 0.7em;
    border-radius: 1em;
    box-shadow:0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16););;
    border: none;
}

.categoryName {
    font-family: 'Nunito', sans-serif;
    color:black;
    margin: 2em auto auto auto;
    
}
.categoryImage{
    width: 11vh;
}