/* @import url(atoms/atomos.css); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
@import url(plateCategory.css);
@import url(footer.css);
@import url(textos.css);
@import url(platesList.css);
@import url(counter.css);
@import url(screenB.css);
@import url(toPay.css);

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

:root{
    --naranja: #FF6900;
    --gris: #B4B4B4;
    --grisclaro: #f0efef;
    --grisMasClaro: #f8f8f8;
    --negro: #000000;
    --gold: #ffd700;
    --tipo: "Nunito";
    font-family: var(--tipo);
    --sombras: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.2));
}

header{
    height: 15%;
}

body{
    background-color: var(--grisMasClaro);
}