
/* Titulo Aplicacion */
.title{
    font-family: 'Nunito', sans-serif;
    color:var(--negro);
    margin: 1rem;
    font-size: 3.5vh;
}

/* Encabezado Aplicacion */
.encabezado{
    font-family: 'Nunito', sans-serif;
    color:var(--negro);
    margin: 1rem;
    font-size: 2.2vh;
}

/* Texto Lorem */
.lorem{
    font-family: 'Nunito', sans-serif;
    color:var(--gris);
    margin: 1rem;
    font-size: 2.5vh;
}

/* Carrito */
.cart{
    font-family: 'Nunito', sans-serif;
    color:var(--negro);
}



/* Categorías menú */
.categoryName{
    font-family: 'Nunito', sans-serif;
    color:var(--negro);
    font-size: 1.6vh;
}
/* precio */
.price{
    font-family: 'Nunito', sans-serif;
    color: var(--naranja);
    font-size: 2.5vh;
}

/* nombre plato */
.plateName{
    font-family: 'Nunito', sans-serif;
    color:var(--negro);
    font-size: 2.5vh;
}

    /* nombre guarnición  */
.sideDishName{
    font-family: 'Nunito', sans-serif;
    color:var(--gris);
    font-size: 2vh;
}
/*  En detalle: Nombre plato  */
.plateNameDetail{
    font-family: 'Nunito', sans-serif;
    color:var(--negro);
}

    /*  en detalle: guarnición  */
.sideDishNameDetail{
    font-family: 'Nunito', sans-serif;
    color:var(--negro);
}

/* en detalle: descripción  */
.dishDescriptionDetail{
    font-family: 'Nunito', sans-serif;
    color:var(--negro);
}

   /* en detalle: precio */
.priceDetail{
    font-family: 'Nunito', sans-serif;
    color: var(--naranja);
}
.cajaNaranja{
    color: var(--naranja);
   width: 100px;
}
.bill{
    font-family: 'Nunito', sans-serif;
    color:#fff
    ;
}